Markdown==3.4.3
markdown-it-py==2.2.0
numpy==1.23.0
pandas==1.5.1
python-decouple==3.8
python-multipart==0.0.22
python-utils==3.5.2
streamlit==1.37.0
streamlit-aggrid==0.3.4.post3
streamlit_authenticator==0.2.2
scipy==1.9.3
